body {
    font-family: 'Acme', sans-serif;
    background-image: url("../images/doodles/doodles.png");

}

#main {
    position: relative;
    width: 60%;
    height: 50em;
    margin: auto;
    background: skyblue;
    text-align: center;
}

#header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10em;
}

h1 {
    padding: .5em;
    font-size: 4em;
}

#main_game {
    position: absolute;
    top: 10em;
    width: 100%;
    height: 40em;
    line-height: 2em;
    word-spacing: .2em;
}

#timer, #question, #answer{
    width: 100%;
    height: 5em;
}

img {
    width: 20em;
    height: 15em;
}

.bnt {
    width: 15em;
    height: 20px;
    margin: .5em;
    font-size: 1em;
    background: white;
}

#restartbnt {
    margin: 2em auto;
    display: none;
    background: white;
}

/* Medium devices */
@media only screen and (max-width: 768px) {
    #main {
        height: 55em;   
    }
}

/* Small devices */
@media only screen and (max-width: 640px) {
    #main {
        width: 90%;
    }

    #main_game {
        top: 8em;
        width: 100%;
        height: 8em;
    }

    #timer{
        height: 2em;
    }

    #header {
        height: 8em;
    }

    h1 {
        padding: .5em;
        font-size: 2.5em;
    }

}